<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <title>Listings</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/listings.css" />
  <!-- Boot strap and font awesome -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/listings.js"></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://localhost:8080/login/1">
          <img src="/images/site-images/logo2.png" class="img-responsive" alt="Responsive image">
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/messages">Messages</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/listings">My Listings</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/favourites">My Favourites</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>
  <!-- Splash Logo -->
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-12 text-center">
        <!-- Create Listing Button-->
        <button type="button" class="btn btn-primary btn-lg btn-lower create-listing-button" data-toggle="modal" data-target="#createListingModal">
          Create a Listing <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

      <!-- displayItems function -->
      <% function displayItems(itemsArray, maxRows) {
        maxRows = maxRows || 6; // Defaults to 6 without input
        for (let i = 0; i < itemsArray.length && Math.floor(i / 4) < maxRows; i++) {
          if (i % 4 === 0) { %>
            <div class="row gy-10 gx-10">
              <% } %>
          <div class="col-md-3 shoe-product" id="<%= itemsArray[i].item%>">
            <div class="image-container">
              <!-- <img src="/images/site-images/sold.png"id="<%= itemsArray[i].item %>-image"> -->
              <img src="<%= itemsArray[i].thumbnail_photo_url %>" id="<%= itemsArray[i].item %>-image" class="shoe-img" alt="<%= itemsArray[i].title %>">
              <h1 class="soldText hidden">Sold</h1>
            </div>

            <div class="image-actions">
              <i class="fas fa-envelope" data-item-id="<%= itemsArray[i].id%>"></i>
              <i class="fas fa-dollar-sign" data-item-id="<%= itemsArray[i].item%>"></i>
            </div>
            <div>
              <p><strong><%= itemsArray[i].title %></strong> <em><%= itemsArray[i].description %> - $</em><strong><%= itemsArray[i].price %></strong></p>
            </div>
          </div>
        <% if ((i % 4 === 3) || (i === itemsArray.length - 1)) { %>
          </div>
        <% }
        }
      } %>
      <!-- Displaying Listings -->
      <div class="listings-items-container container text-center">
        <% if (listings.length > 0) { %>
          <h1>My Listings</h1>
          <% displayItems(listings); // Limit to one row
          } %>
      </div>

    <!-- Mock Ads-->
    <div class="row">
      <!-- Left Jumbotron for Image -->
      <div class="col-md-6">
        <div class="jumbotron" style="background-image: url('/images/site-images/ad3.png');">
          <!-- Background image set via inline CSS or external CSS -->
        </div>
      </div>


      <!-- Right Jumbotron for Image -->
      <div class="col-md-6">
        <div class="jumbotron" style="background-image: url('/images/site-images/smallPromo.png');">
          <!-- Background image set via inline CSS or external CSS -->
        </div>
      </div>
    </div>



    <!-- Background ball animation -->
  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <!-- <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span> -->
 </div>

 <footer>
  <div class="container">
      <p>&copy; 2023 My Website</p>
      <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="createListingModal" tabindex="-1" role="dialog" aria-labelledby="createListingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createListingModalLabel">Create a Listing</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Your form goes here, copy and paste your form code inside this div -->
        <form id="add-listing">
          <div class="form-group">
            <label for="listingTitle">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Listing Title">
          </div>
          <div class="form-group">
            <label for="listingPrice">Price</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Price">
          </div>
          <div class="form-group">
            <label for="listingDescription">Description</label>
            <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="listingThumbnailUrl">Thumbnail Photo URL</label>
            <input type="url" class="form-control" id="thumbnail_photo_url" name="thumbnail_photo_url" placeholder="http://example.com/photo.jpg">
          </div>
          <button type="submit" class="btn btn-primary">Create Listing</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


        <script>
          $(document).ready(function() {
            $('.image-actions i').on('click', function() {
              var icon = $(this);
              icon.addClass('jello-horizontal');

              // Optional: Remove the class after the animation completes
              setTimeout(function() {
                icon.removeClass('jello-horizontal');
              }, 900); // = 0.9 seconds
            });
          });
        </script>

        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      </body>

      </html>

